body {
  background: linear-gradient(264deg, rgba(23, 23, 23, 1) 0%, rgba(33, 33, 33, 1) 49%, rgba(23, 23, 23, 1) 100%);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
#container {
  margin: auto;
}

.header h1 {
  text-align: center;
  background: -webkit-linear-gradient(#e3ca66, #b48e47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5em;
  font-family: "Parisienne", cursive;
  margin-bottom: 1px;
}

#logo {
  width: 500px;
}

#logo {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.header p {
  text-align: center;
  background: -webkit-linear-gradient(#e3ca66, #b48e47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 2rem;
}

.grid-item {
  display: inline-block;
  height: 500px;
  padding: 0px;
  overflow: hidden;
  text-align: center;
  width: 420px;
}
.grid-item img {
  width: 100%;
  height: auto;
  filter: url(filters.svg#grayscale);
  filter: #808080;
  -webkit-filter: grayscale(1);
  transition: 0.9s;
}
.grid-item img:hover {
  filter: none;
}

.isotope-pager .pager {
  display: inline-block;
  margin: 5px;
}
.filters {
  width: 100%;
  text-align: center;
  padding-bottom: 35px;
  padding-top: 20px;
}

.filters ul {
  list-style: none;
  padding: 20px 10px;
  box-shadow: -1px 1px 11px rgba(0, 0, 0, 0.4);
  margin: 0 40px;
  border-radius: 30px;
  background-color: #232323;
}

.filters li {
  display: inline-block;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
.filters li a {
  color: #b6b6b6;
  text-decoration: none;
}
.filters li a:hover {
  color: #fff;
}

.filters li:hover {
  border-radius: 15px;
  box-shadow: -1px 1px 11px rgba(0, 0, 0, 0.4);
  padding: 10px 25px;
}

.filters li.active a {
  color: #e3ca66;
  border: 1px solid #e3ca66;
  border-radius: 15px;
  box-shadow: -1px 1px 11px rgba(0, 0, 0, 0.4);
  padding: 10px 25px;
}

.isotope-pager a {
  margin: 6px 1px;
  display: inline-block;
  width: 50px;
  /* height: 60px; */
  line-height: 31px;
  color: #b6b6b6;
  font-weight: 600;
  transition: 0.3s;
  /* position: relative; */
  /* padding-right: 26px; */
  box-shadow: -1px 1px 11px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: #232323;
  border: 0.5px solid #e3ca66;
  text-decoration: none;
}

.isotope-pager a:hover {
  color: #fff;
  border: 0.5px solid #ffeeac;
  box-shadow: -1px 1px 10px 3px rgba(0, 0, 0, 0.1);
}

.isotope-pager .active {
  color: #e3ca66 !important;
  border-radius: 15px;
  box-shadow: -1px 1px 11px rgba(0, 0, 0, 0.4);
  padding: 10px 25px;
  background-color: #161616;
  border: 1px dotted #e3ca66;
}

.isotope-pager .prev {
  border-radius: 30px 0 0 30px;
}

.isotope-pager .next {
  border-radius: 0 30px 30px 0;
}

.isotope-pager a::before,
.isotope-pager a:after {
  content: "";
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.isotope-pager .num::before,
.next::before {
  border-right: 20px solid #2c3e50;
  right: 100%;
}

.isotope-pager .num:after,
.prev:after {
  border-right: 20px solid #f1f1f1;
  right: 0;
}

/* .overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
} */

/*-- footer --*/
.footer {
  padding: 0.1em 0;
  background: linear-gradient(180deg, rgba(227, 202, 102, 1) 0%, rgba(180, 142, 71, 1) 100%);
  text-align: center;
  margin-top: 20px;
}
.footer p {
  color: #000000;
  letter-spacing: 1px;
}
.footer p a {
  color: #000000;
}
.footer p a:hover {
  color: #000000;
  text-decoration: none;
}

/*-- footer --*/

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.float {
  -webkit-animation: scale-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-br 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

.my-float {
  margin-top: 16px;
}
